<!DOCTYPE html>
<html>
<head>
  <title>cekkol : cek kadar kolesterol</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <link rel="stylesheet" type="text/css"  href="{{url_for ('static',filename='style.css')}}">
  <link rel="stylesheet" type="text/css"  href="{{url_for ('static',filename='bootstrap.css')}}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet"> 
</head>
<body>
<div class="headatas">
	<div class="container ">
  	<header class="blog-header py-3">
		  <div class="row flex-nowrap justify-content-between align-items-center ">
	      <div class="col-6 text-center ">
					<h1 class="judul">SELAMAT DATANG DI CEKKOL</h1>
          <text class="text">Cek Kadar Kolesterol</text>
        </div>
      </div>
    </header>
  </div>
</div>
<nav class="navbar navbar-expand-lg">
  <div class="navbar-collapse justify-content-md-center" id="navbarsExample10">
    <ul class="nav navbar-nav menu_nav justify-content-end">
      <li class="nav-item"><a class="nav-link" href="{{url_for ('home')}}">Home</a></li> 
      <li class="nav-item active"><a class="nav-link" href="{{url_for ('prediksi')}}">Prediction</a></li> 
      <li class="nav-item"><a class="nav-link" href="{{url_for ('about')}}">About Us</a></li>
    </ul>
  </div>
</nav>
<div id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6 about-img"> </div>
      <div class="col-xs-12 col-md-3 col-md-offset-1">
        <div class="about-text">
          <div class="section-title">
            <h2><strong>Yuk Intip<br>Web Kami!</strong></h2>
            <p>Be Health! Eat Well, Live Well</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- awal isi konten -->

<div id="team">
  <div class="container">
    <div id="row">
      <div class="col-md-6">
        <div class="col-md-10 col-md-offset-1">
          <div class="section-title">
            <h2>Kolesterol</h2>
          </div>
          <p> Kolesterol merupakan zat yang diproduksi secara alami oleh organ hati, tetapi juga bisa ditemukan dalam makanan yang berasal dari hewan, seperti daging dan susu. Kolesterol diperlukan oleh tubuh untuk membentuk sel-sel sehat, memproduksi sejumlah hormon, dan menghasilkan vitamin D. Meskipun penting bagi tubuh, kolesterol dapat mengganggu kesehatan jika kadarnya terlalu tinggi.
            Kolesterol tinggi tidak menimbulkan gejala. Akibatnya, banyak orang tidak sadar memiliki kadar kolesterol tinggi, sampai muncul komplikasi serius seperti penyakit jantung atau stroke. Oleh sebab itu, penting untuk melakukan tes darah untuk mengetahui normal atau tingginya kolesterol. Untuk orang dewasa, disarankan untuk melakukan pemeriksaan kolesterol tiap 4-6 tahun sekali, mulai usia 20 tahun.
            Walaupun jarang, kolesterol tinggi dapat terjadi pada anak-anak. Pemeriksaan kolesterol pada anak-anak disarankan dilakukan saat mereka berusia 9-11 tahun, dan diulangi pada saat berusia 17-21.  Pada anak-anak dari keluarga penderita diabetes dan kolesterol tinggi, pemeriksaan kolesterol disarankan pada saat anak berusia 2-8 tahun dan diulangi pada usia 12-16 tahun. (Sumber: alodokter)
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3 col-md-offset-1">
        <div class="team-img"><img src="{{url_for ('static',filename='img/info3.gif')}}"" alt="..."></div>
      </div>
    </div>
  </div>
</div>


<div id="team">
  <div class="container">
    <div id="row">
      <div class="col-md-6">
        <div class="col-md-10 col-md-offset-1">
          <div class="section-title">
            <h2>Instruksi Untuk Melakukan Cek Kadar Kolesterol</h2>
          </div>
          <p>Berikut adalah instruksi cara melakukan cek kadar kolesterol di web kami:</p>
          <p><strong>1. Umur</strong> <br> Masukkan umur anda saat ini dalam satuan tahun. (berupa angka, exp: 18)</p>
          <p><strong>2. Jenis Kelamin</strong> <br> Masukkan jenis kelamin. (exp: Laki-Laki/Perempuan)</p>
          <p><strong>3. Lokasi Nyeri Dada</strong> <br> Yakni letak kondisi nyeri yang anda rasakan pada dada. Ada 4 (empat) kategori, antara lain: <br> 
            a) Angina Khas adalah kondisi yang seperti ditekan atau terasa berat yang menjalar ke lengan kiri anda. <br> b) Angina Atipikal adalah kondisi yang seperti sesak nafas disertai dengan keringat dingin. <br> c) Nyeri Biasa <br> d) Tidak Ada Gejala </p>
          <p><strong>4. Jenis Nyeri</strong> <br> Yakni kondisi yang dirasakan saat nyeri yakni substernal yang berarti jenis nyeri terletak di bawah tulang dada, jika tidak maka bisa memilih lainnya.</p>
          <p><strong>5. Merasakan Kesemutan</strong> <br> Masukkan argumen Ya/Tidak. Jika anda merasakan kesemutan pada bagian tubuh anda, maka anda memasukkan argumen Ya. Jika tidak merasakan kesemutan, maka anda bisa masukkan argumen Tidak.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3 col-md-offset-1">
        <div class="team-img"><img src="{{url_for ('static',filename='img/pro3.png')}}" alt="..."></div>
      </div>
    </div>
  </div>
</div>
<div id="features" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Cek Kadar Kolesterol Anda Di Sini</h2>
    </div>
    <p><a href="/prediksi/">PREDICTION</a></p>
  </div>
</div>

<!-- akhir isi konten -->
<!-- footer -->
<div id="footer">
  <div class="container padding-vert-30 margin-top-60">
    <div class="row">
       <div class="col-md-4 margin-bottom-20">
         <h1 class="margin-bottom-10">CEKKOL</h1>
         <p>Cek Kadar Kolesterol</p>
        </div>
        <div class="col-md-3 margin-bottom-10">
          <ul class="menu">
            <li>
              <a href="{{url_for ('home')}}">Home</a>
            </li>
            <li>
              <a href="{{url_for ('prediksi')}}">Prediction</a>
            </li>
            <li>
              <a href="{{url_for ('about')}}">About Us</a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 margin-bottom-20 padding-vert-30">
          <h4 class="margin-bottom-10">Follow Us</h4>
          <p>
          <span class="fa fa-twitter">Twitter : </span>@tsdunair
          <br>
          <span class="fa fa-facebook">Facebook : </span>@tsdunair
          <br>
          <span class="fa fa-instagram">Instagram : </span>@tsdunair
          </p>
        </div>
        <div class="clearfix"></div>
        <div class="copyright text-center" style="height:50px;padding-top:50px;">
          <p>© Copyright 2021</p>
        </div>
    </div>
  </div>
</div>
<!-- akhir footer -->
</body>
</html>